@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
// font-family: 'Roboto Condensed', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
// font-family: 'M PLUS Rounded 1c', sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 13px;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto Condensed", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none !important;
    color: unset;
}

a:hover {
    color: $main-color;
}
.ant-drawer-body {
    padding: 10px 0;
}
strong {
    margin: 5px;
    &:hover {
        color: $main-color;
    }
}

@each $color, $val in $colors {
    .color-#{$color} {
        color: $val;
    }
    .bg-#{$color} {
        background-color: $val;
    }
}

@each $val in $number {
    .grid-col-#{$val} {
        grid-template-columns: repeat($val, 1fr);
    }
}


.container {
    width: 100%;
    max-width: 1620px;
    padding: 0 150px;
    margin: auto;
    background: #f5f4f4;
}

.grid {
    display: grid;
}

.main {
    margin-top: $header-height;
    margin-bottom: 2rem;
    min-height: auto;
}