.grida {
  background-color: #f4f4f4;
  height: 100%;
  margin-bottom: 200px;
}

.container1 {
  padding: 0;
}

.navbar {
  margin-bottom: 0;
  width: 1260px;
  align-items: center;
  height: 40px;
  display: flex;
  background-color: #efefef;
}
.navbar-title {
  align-items: center;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  line-height: 20px;
}
.navbar-title__item {
  margin: 0 20px;
  font-size: 14px;
  color: #a9adb1;
  font-weight: 400;
  position: relative;
}
.navbar-title__item::before {
  content: "";
  height: 24px;
  border-left: 3px solid #bbc7d2;
  transform: rotate(-40deg);
  position: absolute;
  right: -5px;
  top: -10px;
}
.navbar-title__item::after {
  content: "";
  height: 23px;
  border-left: 3px solid #bbc7d2;
  transform: rotate(40deg);
  position: absolute;
  right: -6px;
  bottom: -12px;
}
.navbar-title__item:first-child {
  width: 80px;
}
.navbar-title__item:nth-child(2) {
  width: 110px;
}
.navbar-title__item:nth-child(3) {
  width: 160px;
}
.navbar-title__item:nth-child(4) {
  width: 132px;
}
.navbar-title__item:nth-child(5) {
  width: 140px;
}
.navbar-title__text {
  color: #333;
  font-size: 13.48px;
  font-weight: 300;
  width: 373px;
  margin-left: 12px;
}

.product {
  width: 1260px;
  margin: 0 auto;
  height: 725px;
  display: flex;
  margin-bottom: -24px;
}
.product-left {
  border: 1px solid #f4f4f4;
  width: 35%;
  height: 94%;
  background-color: white;
}
.product-left__watch {
  width: 100%;
}
.product-left__img-small {
  display: flex;
  justify-content: space-around;
  margin: 8px 0;
}
.product-left__img-small-item:focus {
  border: none;
  border-radius: 0px;
}
.product-left__img-small-item:hover .product-left__img-size-s {
  border: 1px solid blue;
  box-sizing: border-box;
}
.product-left__img-size-s {
  width: 60px;
}
.product-left__socal {
  display: flex;
  align-items: center;
  margin: 28px 0 0 20px;
}
.product-left__socal-share {
  font-size: 16px;
  color: #0043ff;
}
.product-left__socal-list {
  font-size: 28px;
}
.product-left__socal-list-item {
  padding: 0 3px;
}
.product-left__socal-list-item-facebook {
  color: #25479b;
}
.product-left__socal-list-item-instagram {
  color: #b92b78;
}
.product-left__socal-list-item-twitter {
  color: #55acee;
}
.product-left__socal-list-item-messenger {
  color: #0084ff;
}
.product-left__socal-list-item-line {
  color: #06c152;
}
.product-left__socal-list-item-heart-empty {
  margin-left: 10px;
}
.product-right {
  width: 65%;
  height: 100%;
}
.product-right__top {
  height: 19%;
  background-color: white;
}
.product-right__top-decs {
  padding: 24px 20px 12px 25px;
}
.product-right__top-decs-brand {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  margin-right: 14px;
}
.product-right__top-decs-brand-link {
  text-decoration: none;
  color: #1a94ff;
}
.product-right__top-decs-brand:after {
  content: "";
  position: absolute;
  height: 12px;
  border-left: 1px solid #a86e6f;
  top: 4px;
  right: -7px;
}
.product-right__top-decs-title {
  color: #424242;
  font-size: 25px;
  font-weight: 300;
  line-height: 26px;
  margin: 12px 12px 12px 0;
}
.product-right__top-decs-rank {
  font-size: 14px;
  font-weight: 400;
}
.product-right__top-decs-rank-link {
  text-decoration: none;
  color: #1a94ff;
}
.product-right__top-star-item {
  color: #fdd836;
}
.product-right__top-star-comment {
  font-size: 14px;
  margin: 0 16px 0 6px;
  position: relative;
}
.product-right__top-star-comment:after {
  content: "";
  position: absolute;
  height: 14px;
  border-left: 1px solid #a86e6f;
  top: 3px;
  right: -9px;
}
.product-right__top-star-spend {
  font-size: 14px;
}
.product-right__bottom {
  height: 75%;
  display: flex;
}
.product-right__bottom-left {
  width: 70%;
  height: 100%;
  background-color: white;
}
.product-right__bottom-left-price {
  background-color: #fafafa;
  height: 118px;
  padding: 0 0 0 20px;
  border-radius: 2px;
}
.product-right__bottom-left-price-main {
  font-size: 36px;
  font-weight: 500;
}
.product-right__bottom-left-price-begin {
  color: #6d6d6d;
  font-size: 14px;
  text-decoration: line-through;
  font-weight: 300;
  margin-left: 6px;
}
.product-right__bottom-left-price-percent {
  color: #6d6d6d;
  font-size: 14px;
  font-weight: 500;
}
.product-right__bottom-left-price-tikiCard {
  display: flex;
  align-items: center;
}
.product-right__bottom-left-price-tikiCard-img {
  height: 30px;
  line-height: 16px;
  margin-right: 4px;
}
.product-right__bottom-left-price-tikiCard-text {
  line-height: 16px;
  font-size: 15px;
  font-weight: 400;
}
.product-right__bottom-left-price-tikiCard-text-icon {
  font-size: 12px;
  margin-left: 4px;
}
.product-right__bottom-left-price-freeShip {
  display: flex;
  align-items: center;
}
.product-right__bottom-left-price-freeShip-img {
  height: 12px;
  line-height: 16px;
  margin-right: 4px;
}
.product-right__bottom-left-price-freeShip-text {
  line-height: 16px;
  font-size: 15px;
  font-weight: 400;
}
.product-right__bottom-left-price-freeShip-text-icon {
  font-size: 12px;
  margin-left: 4px;
}
.product-right__bottom-left-color {
  padding-left: 20px;
}
.product-right__bottom-left-color-text {
  font-size: 14px;
}
.product-right__bottom-left-color span {
  color: #969ba6;
}
.product-right__bottom-left-color-chooseColor {
  display: flex;
  flex-wrap: wrap;
}
.product-right__bottom-left-color-chooseColor-browser {
  display: flex;
  align-items: center;
  width: 140px;
  height: 60px;
  border-radius: 4px;
  margin: 0 10px 10px 0;
  background-color: #f2f2f2;
}
.product-right__bottom-left-color-chooseColor-browser-img {
  width: 50px;
  padding: 8px;
}
.product-right__bottom-left-color-chooseColor-browser-text {
  font-size: 14px;
  color: black;
  margin-bottom: 0;
}
.product-right__bottom-left-discount {
  padding: 20px 0 0 20px;
}
.product-right__bottom-left-discount-text {
  font-size: 15px;
  font-weight: 400;
}
.product-right__bottom-left-discount-main {
  display: flex;
  margin: 12px 12px 0 0;
}
.product-right__bottom-left-discount-main-button-text {
  width: 80px;
  border: 2px solid #2980ca;
  border-radius: 4px;
  font-size: 13px;
  color: #2980ca;
  background-color: white;
  padding: 4px 4px 4px 2px;
  text-align: center;
  position: relative;
  margin-right: 12px;
}
.product-right__bottom-left-discount-main-button-text::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: transparent #0d5cb6 #0d5cb6 transparent;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  border-radius: 50%;
  left: -6px;
  transform: rotate(-45deg);
}
.product-right__bottom-left-discount-main-button-text::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: transparent #0d5cb6 #0d5cb6 transparent;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  border-radius: 50%;
  right: -6px;
  transform: rotate(135deg);
}
.product-right__bottom-left-discount-address {
  margin-top: 30px;
}
.product-right__bottom-left-discount-address-text {
  font-size: 13px;
}
.product-right__bottom-left-discount-address-text-link {
  text-decoration: none;
  color: #1b93d4;
  font-weight: 500;
}
.product-right__bottom-left-quantity {
  padding-left: 24px;
}
.product-right__bottom-left-quantity-text {
  font-size: 16px;
}
.product-right__bottom-left-quantity-item {
  font-size: 16px;
  padding: 4px 8px;
  border: 1px solid #eee;
  max-width: 18px;
  text-align: center;
}
.product-right__bottom-left-quantity-item-sizeL {
  font-size: 20px;
  padding: 2px 8px;
}
.product-right__bottom-left-quantity-input {
  font-size: 16px;
  padding: 4px 8px;
  border: 1px solid #eee;
  max-width: 34px;
  text-align: center;
}
.product-right__bottom-left-quantity-input:focus {
  border: 1px solid #2980ca;
}
.product-right__bottom-left-shopping {
  margin: 12px 0 0 24px;
  padding: 14px 116px;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 700;
  background-color: #ff3945;
}
.product-right__bottom-left-shopping:hover {
  background-color: #e2656d;
  color: #e0e0e0;
  cursor: pointer;
}
.product-right__bottom-right {
  width: 30%;
  background-color: white;
  height: 100%;
  padding: 10px 10px 0 14px;
  border: 1px solid #eee;
}
.product-right__bottom-right-shop {
  display: flex;
  margin: 10px 0 0 10px;
}
.product-right__bottom-right-shop-img {
  width: 45px;
  border-radius: 50%;
}
.product-right__bottom-right-shop-name {
  position: relative;
}
.product-right__bottom-right-shop-name-text {
  position: relative;
  top: -9px;
  right: -10px;
  font-size: 14px;
  font-weight: 500;
  margin: 12px 0 0 0;
}
.product-right__bottom-right-shop-name-official {
  width: 80px;
  position: absolute;
  left: 10px;
  top: 24px;
}
.product-right__bottom-right-interact-number {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  margin-top: 8px;
}
.product-right__bottom-right-interact-number-item {
  margin-left: 22px;
}
.product-right__bottom-right-interact-number-item-star {
  color: #fdd836;
}
.product-right__bottom-right-interact-text {
  margin-left: 10px;
  font-size: 12px;
}
.product-right__bottom-right-interact-text-item {
  padding-left: 12px;
}
.product-right__bottom-right-interact-text-item:nth-child(2) {
  padding-left: 30px;
}
.product-right__bottom-right-interact-text-item:nth-child(3) {
  padding-left: 18px;
}
.product-right__bottom-right-homeShop {
  display: flex;
  margin: 10px 8px 6px 10px;
  justify-content: space-between;
}
.product-right__bottom-right-homeShop-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #5d92ce;
  width: 90px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}
.product-right__bottom-right-homeShop-button-text {
  padding-left: 5px;
  color: #5d92ce;
}
.product-right__bottom-right-homeShop-button-icon {
  color: #5d92ce;
}
.product-right__bottom-right-homeShop-button-plusBig {
  font-size: 18px;
  color: #5d92ce;
}
.product-right__bottom-right-insurance {
  display: flex;
  justify-content: space-between;
}
.product-right__bottom-right-insurance-left {
  width: 140px;
}
.product-right__bottom-right-insurance-left-time {
  font-size: 13px;
  color: #cbcbcc;
}
.product-right__bottom-right-insurance-right-time {
  font-size: 13px;
}
.product-right__bottom-right-text {
  font-size: 13px;
  color: #cbcbcc;
}
.product-right__bottom-right-textBold {
  font-size: 13px;
}
.product-right__bottom-right-giude {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}
.product-right__bottom-right-giude-left {
  color: #cbcbcc;
}
.product-right__bottom-right-giude-right {
  padding-right: 14px;
}
.product-right__bottom-right-giude-right a {
  text-decoration: none;
  color: #288fd5;
}
.product-right__bottom-right-commit {
  display: flex;
  margin-top: 12px;
}
.product-right__bottom-right-commit-box {
  width: 32%;
  text-align: center;
  font-size: 12px;
}
.product-right__bottom-right-commit-box img {
  width: 20px;
}
.product-right__bottom-right-other {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  margin: 30px 0;
  border: 1px solid #eee;
}
.product-right__bottom-right-other-left {
  font-size: 14px;
}
.product-right__bottom-right-other-left p {
  margin: 4px 0 4px 0;
  font-weight: 500;
}
.product-right__bottom-right-other-left span {
  color: #a4a4a4;
}
.product-right__bottom-right-other-right {
  font-size: 13px;
  border: 1px solid blue;
  padding: 8px 12px;
  border-radius: 4px;
  color: #3677c2;
  font-weight: 500;
  cursor: pointer;
}

.ProductByMore {
  background-color: white;
  width: 101.5%;
  height: 386px;
}
.ProductByMore__text {
  font-size: 20px;
  padding: 16px 0 0 16px;
  font-weight: 450;
  cursor: text;
}

.ProductList-item {
  display: flex;
}

.ProductList-item__watch {
  width: 18%;
  height: 310px;
  padding-left: 12px;
  margin: 0 10px;
  transition: transform linear 0.1s;
  will-change: transform;
}
.ProductList-item__watch:hover {
  transform: translateY(-1px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
}
.ProductList-item__watch-image-img {
  padding-top: 80%;
  margin-left: 12px;
  background-size: contain;
  background-repeat: no-repeat;
}
.ProductList-item__watch-image-free {
  height: 21px;
}
.ProductList-item__watch-desc {
  font-size: 14px;
  line-height: 14px;
  height: 28px;
  overflow: hidden;
  margin: 12px 6px 12px 0;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.ProductList-item__watch-star {
  font-size: 12px;
}
.ProductList-item__watch-star-item {
  color: #fdd836;
}
.ProductList-item__watch-star-bought {
  position: relative;
  margin-left: 14px;
}
.ProductList-item__watch-star-bought::after {
  content: "";
  height: 12px;
  top: 3px;
  left: -8px;
  border-left: 1px solid #b28081;
  position: absolute;
}
.ProductList-item__watch-price-number {
  font-size: 15px;
  font-weight: 600;
}
.ProductList-item__watch-price-discount {
  margin-left: 10px;
  font-size: 12px;
  font-weight: 500;
  background-color: #ff424e;
  border-radius: 2px;
  color: white;
}
.ProductList-item__watch-sale-number {
  color: #a1a1a1;
  text-decoration: line-through;
}

.ProductInfo {
  width: 68%;
  height: 366px;
  background-color: white;
  margin-top: 20px;
  padding: 14px 0 0 16px;
}
.ProductInfo-text {
  color: #303940;
  font-size: 22px;
}

.ProductDetail {
  display: flex;
  width: 100%;
}

.ProductInfo-brand {
  padding: 8px 12px;
  width: 28%;
  height: 100%;
  font-weight: 500;
  background-color: #efefef;
}
.ProductInfo-brand-text {
  padding: 8px 0;
}

.ProductInfo-address {
  padding: 8px 0;
  width: 72%;
}

.ProductInfo-address-text {
  padding: 8px 0 8px 12px;
  width: 100%;
}

.ProductInfo-address-bold {
  background-color: #fafafa;
}

.ProductDesc {
  width: 68%;
  height: 608px;
  background-color: white;
  margin-top: 20px;
  padding: 14px 0 0 16px;
  overflow: hidden;
}
.ProductDesc-text {
  color: #303940;
  font-size: 22px;
  margin-bottom: 12px;
}
.ProductDesc-text__small {
  color: #828282;
  font-weight: 500;
}

.ProductDesc__img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  margin: 0 26px;
  position: relative;
}
.ProductDesc__img span {
  position: absolute;
  bottom: 82px;
  left: 0px;
  width: 100%;
  height: 200px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.07), white);
}
.ProductDesc__img-btn {
  position: relative;
  bottom: 119px;
  left: 328px;
  padding: 6px 42px;
  color: #51adee;
  border: 1px solid #8ecfff;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
}
.ProductDesc__img-btn:hover {
  color: white;
  border: 1px solid #1a94ff;
  background-color: #1a94ff;
  animation: fadeIn ease-in 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}
.ProductComment {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 100%;
  height: 310px;
  background-color: white;
}
.ProductComment-text {
  padding: 16px 0 0 16px;
  color: #303940;
  font-size: 22px;
  width: 100%;
  margin-bottom: 0px;
  height: 0px;
}
.ProductComment-star {
  padding-left: 50px;
}
.ProductComment-star__top {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.ProductComment-star__top-number {
  font-size: 34px;
  font-weight: 700;
}
.ProductComment-star__top-icon {
  margin-left: 12px;
}
.ProductComment-star__top-icon-item {
  color: #fdd837;
}
.ProductComment-star__top-icon-text {
  margin-bottom: 7px;
}
.ProductComment-star__buttom {
  margin-top: 12px;
}
.ProductComment-star__buttom-icon {
  display: flex;
  align-items: center;
}
.ProductComment-star__buttom-icon-item {
  color: #fdd837;
  font-size: 11px;
  border: 1px solid #eee;
}
.ProductComment-star__buttom-icon-line {
  margin: 0 6px;
  width: 160px;
  border-radius: 4px;
  height: 6px;
  background-color: #eee;
}
.ProductComment-star__buttom-icon-line-percent {
  width: 70%;
  border-radius: 4px;
  height: 6px;
  background-color: #787878;
}
.ProductComment-star__buttom-icon-line-percent2 {
  width: 23%;
  border-radius: 4px;
  height: 6px;
  background-color: #787878;
}
.ProductComment-star__buttom-icon-line-percent3 {
  width: 4%;
  border-radius: 4px;
  height: 6px;
  background-color: #787878;
}
.ProductComment-star__buttom-icon-line-percent4 {
  width: 2%;
  border-radius: 4px;
  height: 6px;
  background-color: #787878;
}
.ProductComment-star__buttom-icon-line-percent5 {
  width: 3%;
  border-radius: 4px;
  height: 6px;
  background-color: #787878;
}
.ProductComment-image {
  margin: 12px 0 0 80px;
}
.ProductComment-image-text {
  font-size: 18px;
  font-weight: 500;
}
.ProductComment-image-img {
  display: flex;
}
.ProductComment-image-img-item {
  background-size: cover;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  border-radius: 4px;
  margin-right: 18px;
}
.ProductComment-image-img-item-cover {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: rgba(58, 58, 58, 0.8);
}
.ProductComment-image-img-item-cover span {
  margin: auto;
  color: white;
  font-weight: 600;
  font-size: 18px;
}
.ProductComment-image__filter {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.ProductComment-image__filter-text {
  font-size: 15px;
  margin-bottom: 0;
}
.ProductComment-image__filter-item {
  cursor: pointer;
  font-size: 14px;
  padding: 8px 16px;
  margin: 0 6px;
  background-color: #eee;
  border-radius: 40px;
}
.ProductComment-image__filter-item i {
  color: #fdd837;
}

.ProductReview {
  width: 100%;
  height: 544px;
  background-color: white;
  display: flex;
}
.ProductReview-left {
  width: 30%;
}
.ProductReview-left__userName {
  display: flex;
  align-items: center;
  margin: 0 60px;
}
.ProductReview-left__userName-icon {
  background-color: #f2f2f2;
  padding: 12px 12px;
  border-radius: 50%;
  color: #9b9b9b;
  font-weight: 500;
}
.ProductReview-left__userName-identity p {
  margin: 0 0 2px 12px;
}
.ProductReview-left__userName-identity-name {
  font-weight: 600;
  font-size: 14px;
  color: #444444;
}
.ProductReview-left__userName-identity-time {
  color: #939393;
}
.ProductReview-left__wrote {
  margin: 8px 60px;
  display: flex;
  align-items: center;
}
.ProductReview-left__wrote-img {
  width: 20px;
  margin-right: 8px;
}
.ProductReview-left__wrote-written {
  margin-right: 8px;
  color: #aaaaaa;
  padding-bottom: 3px;
}
.ProductReview-left__wrote-reply {
  padding-bottom: 3px;
}
.ProductReview-right {
  width: 70%;
}
.ProductReview-right__satisfied-item {
  color: #fdd835;
}
.ProductReview-right__satisfied-text {
  margin-left: 12px;
  font-size: 16px;
  font-weight: 500;
}
.ProductReview-right-bought {
  color: #009900;
}
.ProductReview-right-bought i {
  margin: 0 4px;
}
.ProductReview-right-bought span {
  font-weight: 500;
}
.ProductReview-right-text {
  margin-top: 12px;
}
.ProductReview-right__image {
  display: flex;
}
.ProductReview-right__image-item {
  background-size: cover;
  background-repeat: no-repeat;
  width: 140px;
  height: 140px;
  border-radius: 4px;
  margin-right: 12px;
}
.ProductReview-right__date {
  margin: 16px 0;
  font-size: 14px;
  color: #939393;
  display: flex;
}
.ProductReview-right__date-used {
  margin-left: 12px;
  display: inline-block;
  position: relative;
  z-index: 1;
}
.ProductReview-right__date-used-img {
  width: 12px;
  margin-left: 6px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.ProductReview-right__date-used-note {
  font-size: 12px;
  padding: 6px 8px;
  background-color: #0d5cb6;
  color: white;
  border-radius: 4px;
  width: 289%;
  position: absolute;
  top: 29px;
  left: 107px;
  display: none;
  transform: translate(-50%, 0px);
}
.ProductReview-right__date-used-note::after {
  content: "";
  border-width: 19px 16px;
  border-style: solid;
  border-color: transparent transparent #0d5cb6 transparent;
  position: absolute;
  top: -30px;
  left: 156px;
}
.ProductReview-right__date-used:hover .ProductReview-right__date-used-note {
  display: block;
  z-index: 1;
}
.ProductReview-right__useful {
  margin-top: 22px;
}
.ProductReview-right__useful-liked {
  padding: 10px 16px;
  border: 1px solid blue;
  border-radius: 4px;
}
.ProductReview-right__useful-liked span {
  font-weight: 500;
  color: #518aca;
  margin-left: 6px;
  cursor: pointer;
  font-weight: 500;
}
.ProductReview-right__useful-liked:hover {
  animation: fadeIn ease-in 0.3s;
  background-color: #1a94ff;
  border: 1px solid #1a94ff;
  color: white;
}
.ProductReview-right__useful-liked:hover span {
  color: white;
}
.ProductReview-right__useful-reply {
  padding: 10px 16px;
  font-weight: 600;
  color: #1864b9;
  cursor: pointer;
}
.ProductReview-right__otherPerson {
  margin-top: 34px;
  display: flex;
}
.ProductReview-right__otherPerson-shortName {
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: #f4f4f4;
  color: #adadad;
  padding: 9px;
  border-radius: 50%;
  font-weight: 500;
}
.ProductReview-right__otherPerson-detail {
  width: 84%;
  margin-left: 12px;
  padding: 12px 0 0 12px;
  background-color: #fafafa;
  border-radius: 8px;
}
.ProductReview-right__otherPerson-detail-name {
  font-weight: 600;
  margin-right: 20px;
}
.ProductReview-right__otherPerson-detail-date {
  color: #b7b7b7;
  position: relative;
}
.ProductReview-right__otherPerson-detail-date::before {
  content: "";
  height: 4px;
  width: 4px;
  background-color: #787878;
  border-radius: 50%;
  position: absolute;
  top: 54%;
  left: -11px;
  margin: -2px 0px 0px;
}
.ProductReview-right__otherPerson-detail-text {
  margin-top: 8px;
}
.ProductReview-right__seeMore {
  margin-top: 12px;
}
.ProductReview-right__seeMore-img {
  width: 20px;
  position: relative;
  top: -4px;
}
.ProductReview-right__seeMore-text {
  color: #1864b9;
  font-weight: 600;
  margin-left: 8px;
  cursor: pointer;
}

.ProductReview__changePage {
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}
.ProductReview__changePage-item {
  margin: 0 6px;
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  font-weight: 500;
  cursor: pointer;
}
.ProductReview__changePage-item-active {
  background-color: #189eff;
  color: white;
}
.ProductReview__changePage-item:hover {
  background-color: #c4e8ff;
  color: #67737a;
}

.ProductDiscover {
  margin: 16px 0 -22px 0;
  height: 200px;
}
.ProductDiscover-text {
  font-size: 22px;
  font-weight: 500;
  padding: 8px 0 8px 12px;
  background-color: white;
  margin-bottom: 12px;
}
.ProductDiscover-suggest {
  display: flex;
}
.ProductDiscover-suggest__item {
  width: 150px;
  border-radius: 4px;
  background-color: white;
  margin-right: 8px;
  cursor: pointer;
}
.ProductDiscover-suggest__item-active {
  border: 1px solid #6799d1;
}
.ProductDiscover-suggest__item-img {
  margin: 6px 0 0 48px;
  width: 48px;
  text-align: center;
}
.ProductDiscover-suggest__item-text {
  text-align: center;
  margin: 2px 6px 6px 6px;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ProductOther {
  background-color: white;
}
.ProductOther__list {
  display: flex;
  flex-wrap: wrap;
}
.ProductOther__list-btn {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 4px 80px 6px;
  background-color: white;
  border: 1px solid #5b90cd;
  border-radius: 4px;
  cursor: pointer;
}
.ProductOther__list-btn:hover {
  background-color: #1964b9;
  color: #e3edf7;
}

.ProductSaw {
  margin-top: 20px;
  background-color: white;
  padding-bottom: 40px;
}
.ProductSaw__list {
  display: flex;
  flex-wrap: wrap;
}
.ProductSaw-text {
  font-size: 22px;
  font-weight: 500;
  padding: 18px 0 0 12px;
}
.ProductSaw__watch {
  height: 356px;
  background-color: white;
}
.ProductSaw__watch-img {
  padding-top: 100%;
  margin-left: 0;
}

/*# sourceMappingURL=app.css.map */
