.ant-tabs-nav {
  margin-bottom: 0 !important;
}

.dashboardMain {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__search {
    width: 200px;
    height: 35px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-radius: 4px;
    input {
      height: 100%;
      border: none;
      outline: none;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    margin-left: auto;
    &-picture {
      width: 35px;
    }
    &-name {
      margin-left: 12px;
    }
  }

  &__noti {
    font-size: 22px;
    cursor: pointer;
    margin-left: 12px;
    position: relative;
    &-bagde {
      position: absolute;
      top: 0;
      right: -2px;
      font-size: 10px;
      background: #fff;
      padding: 1px;
      border-radius: 999px;
      color: rgb(235, 20, 20);
      font-weight: bold;
    }
  }

  &__content {
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    @media screen and (max-width: 900px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  &__card {
    background: #fff;
    border-radius: 10px;
    padding: 12px;
    text-align: center;
    &-quantity {
      font-size: 26px;
      font-weight: bold;
    }
    &-icon {
      font-size: 20px;
    }
  }
}
